<div class="body_top">
    <div class="body_title">
        <h1>Projects Page</h1>
    </div>
    <div class="body_intro">
        <span>Dưới đây là các sản phẩm dự án mà tôi đã làm!</span>
    </div>
    <div class="projects_container">
    </div>
</div>
<script src="js/projects.js"></script>